#statsCanvas {
  float: right;
  border: 1px solid black;

  border:10px solid #2980b9;
  background-color: rgba(108,122,137,0.2);
}

#tetrisCanvas {
  border:10px solid #2980b9;
  background-color: rgba(190,190,190, 0.50);
}

#nextPieceCanvas {
  float: left;
  border: 1px solid black;

  border:10px solid #2980b9;
  background-color: rgba(108,122,137,0.2);
}
