body {
}

#statsCanvas {
  float: left;
  border: 1px solid black;
  margin-left: 10px;
}

#tetrisCanvas {
  float: left;
  border: 1px solid black;
  margin-left: 10px;
}

#nextPieceCanvas {
  float: left;
  border: 1px solid black;
  margin-left: 10px;
}
